# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
# created-by: conda 24.11.3
matplotlib=3.9.2=pypi_0
numpy=2.2.3=pypi_0
pandas=2.2.3=py311h9cb3ce9_1
scikit-learn=1.6.1=pypi_0
scipy=1.15.2=pypi_0

